# ignore these folders
**/.ipynb_checkpoints/
*__pycache__*
.vscode/
build/
dist/
**/data/raw/
**/models/

# ignore these files
*~
*.out
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.blg
*.bbl
*.aux
*.run.xml
#*.tex