glob2==0.7
Flask==2.0.1
Flask_Cors==3.0.10
ipykernel==5.4.3
imageio==2.15.0
ipdb==0.13.9
ipython==8.0.1
ipython-genutils==0.2.0
ipympl==0.7.0
jupyterlab==3.0.6
jupyter-client==6.1.11
jupyter-core==4.7.1
JLDracula==0.1.
matplotlib==3.2.2
numpy==1.21.2
Pillow==9.0.1
scikit_image==0.15.0
scipy==1.6.3
scikit-learn==0.24.1
scipy==1.4.1
seaborn==0.11.2
skimage==0.0
tabulate==0.8.9
torch==1.10.0a0+3fd9dcf
torchvision==0.11.0a0
tqdm==4.62.1
Sphinx==1.8.6
wrapt==1.12.1